<footer class="footer">
  <div class="container">
    <div class="footer-discr">
      <a class="logo" href="./index.html"
        >Web<span class="footer-logo-span">Studio</span></a
      >
      <p class="footer-text">
        Increase the flow of customers and sales for your business with digital
        marketing & growth solutions.
      </p>
    </div>

    <div class="footer-icons">
      <p class="footer-icons-text">Social media</p>
      <ul class="icon-list">
        <li class="icon-round">
          <a class="icon-round-link" href="" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="icon-round">
          <a class="icon-round-link" href="" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="icon-round">
          <a class="icon-round-link" href="" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="icon-round">
          <a class="icon-round-link" href="" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-subscribe">
      <p class="footer-subscribe-text">Subscribe</p>
      <form class="footer-subscribe-form">
        <label class="footer-subscribe-label" for="subscribe-email">
          <input
            class="footer-input"
            type="email"
            id="subscribe-email"
            name="subscribe-email"
            placeholder="E-mail"
        /></label>
        <button class="footer-subscribe-button" type="submit">
          Subscribe
          <svg class="subscribe-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-paper-plane"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
