<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo" href="./index.html"
        >Web<span class="header-logo-span">Studio</span></a
      >
      <ul class="header-nav-list">
        <li class="header-nav-list-items">
          <a
            class="header-nav-list-items-link current"
            href="./index.html"
            target="_blank"
            >Studio</a
          >
        </li>
        <li class="header-nav-list-items">
          <a class="header-nav-list-items-link" href="">Portfolio</a>
        </li>
        <li class="header-nav-list-items">
          <a class="header-nav-list-items-link" href="" target="_blank"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <address class="header-address">
      <ul class="header-address-list">
        <li class="header-address-list-items">
          <a
            class="header-address-list-items-link"
            href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="header-address-list-items">
          <a class="header-address-list-items-link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button class="burger-button" type="button" data-menu-open>
      <svg class=" " width="24" height="24">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close" type="button" data-menu-close>
        <svg class="mobile-btn-icons" width="8" height="8">
          <use href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-list-items">
            <a
              class="mobile-nav-list-items-link current"
              href="./index.html"
              target="_blank"
              >Studio</a
            >
          </li>
          <li class="mobile-nav-list-items">
            <a class="mobile-nav-list-items-link" href="">Portfolio</a>
          </li>
          <li class="mobile-nav-list-items">
            <a class="mobile-nav-list-items-link" href="" target="_blank"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
      <address class="mobile-address">
        <ul class="mobile-address-list">
          <li class="mobile-address-list-items">
            <a class="mobile-address-list-items-link" href="tel:+110001111111"
              >+11 (000) 111-11-11</a
            >
          </li>
          <li class="mobile-address-list-items">
            <a
              class="mobile-address-list-items-link"
              href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
        </ul>
      </address>
      <div class="mobile-icon">
        <ul class="mobile-icon-list">
          <li class="mobile-icon-round">
            <a class="mobile-icon-round-link" href="" target="_blank">
              <svg class="mobile-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-icon-round">
            <a class="mobile-icon-round-link" href="" target="_blank">
              <svg class="mobile-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-icon-round">
            <a class="mobile-icon-round-link" href="" target="_blank">
              <svg class="mobile-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-icon-round">
            <a class="mobile-icon-round-link" href="" target="_blank">
              <svg class="mobile-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
