<section class="portfolio section" id="portfolio">
  <div class="container">
    <h2 class="portfolio-title">Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-list-items">
        <div class="portfolio-overlay">
          <img
            srcset="./images/bankapp_1x.jpg 1x, ./images/bankapp.jpg 2x"
            class="portfolio-list-items-img"
            src="./images/bankapp.jpg"
            alt="bank app"
            width="360"
            height="300"
          />
          <p class="overlay-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-list-items-cont-text">
          <h3 class="portfolio-list-items-title">Banking App</h3>
          <p class="portfolio-list-items-text">App</p>
        </div>
      </li>
      <li class="portfolio-list-items">
        <div class="portfolio-overlay">
          <img
            srcset="./images/qrcode_1x.jpg 1x, ./images/qrcode.jpg 2x"
            class="portfolio-list-items-img"
            src="./images/qrcode.jpg"
            alt="qr code scaning "
            width="360"
            height="300"
          />
          <p class="overlay-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-list-items-cont-text">
          <h3 class="portfolio-list-items-title">Cashless Payment</h3>
          <p class="portfolio-list-items-text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-list-items">
        <div class="portfolio-overlay">
          <img
            srcset="./images/laptop_1x.jpg 1x, ./images/laptop.jpg 2x"
            class="portfolio-list-items-img"
            src="./images/laptop.jpg"
            alt="laptop "
            width="360"
            height="300"
          />
          <p class="overlay-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-list-items-cont-text">
          <h3 class="portfolio-list-items-title">Meditation App</h3>
          <p class="portfolio-list-items-text">App</p>
        </div>
      </li>
      <li class="portfolio-list-items">
        <div class="portfolio-overlay">
          <img
            srcset="./images/driver_1x.jpg 1x, ./images/driver.jpg 2x"
            class="portfolio-list-items-img"
            src="./images/driver.jpg"
            alt="driver in car"
            width="360"
            height="300"
          />
          <p class="overlay-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-list-items-cont-text">
          <h3 class="portfolio-list-items-title">Taxi Service</h3>
          <p class="portfolio-list-items-text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-list-items">
        <div class="portfolio-overlay">
          <img
            srcset="./images/phone_1x.jpg 1x, ./images/phone.jpg 2x"
            class="portfolio-list-items-img"
            src="./images/phone.jpg"
            alt="phone adn wallpaper"
            width="360"
            height="300"
          />
          <p class="overlay-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-list-items-cont-text">
          <h3 class="portfolio-list-items-title">Screen Illustrations</h3>
          <p class="portfolio-list-items-text">Design</p>
        </div>
      </li>
      <li class="portfolio-list-items">
        <div class="portfolio-overlay">
          <img
            srcset="./images/girl_1x.jpg 1x, ./images/girl.jpg 2x"
            class="portfolio-list-items-img"
            src="./images/girl.jpg"
            alt="girl"
            width="360"
            height="300"
          />
          <p class="overlay-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-list-items-cont-text">
          <h3 class="portfolio-list-items-title">Online Courses</h3>
          <p class="portfolio-list-items-text">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
