<section class="team section" id="team">
  <div class="container">
    <h2 class="team-title">Our Team</h2>
    <ul class="team-list">
      <li class="team-list-items">
        <img
          srcset="
            ./images/mark_guerrero_1x.jpg 1x,
            ./images/mark_guerrero.jpg    2x
          "
          class="team-list-items-img"
          src="./images/mark_guerrero.jpg"
          alt="Portrait of Mark Guerrero"
          width="264"
          height="260"
        />
        <div class="team-list-items-pair-text">
          <h3 class="team-list-items-title">Mark Guerrero</h3>
          <p class="team-list-items-text">Product Designer</p>
          <ul class="icon-list">
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-items">
        <img
          srcset="./images/tom_ford_1x.jpg 1x, ./images/tom_ford.jpg 2x"
          class="team-list-items-img"
          src="./images/tom_ford.jpg"
          alt="Portrait of Tom Ford"
          width="264"
          height="260"
        />
        <div class="team-list-items-pair-text">
          <h3 class="team-list-items-title">Tom Ford</h3>
          <p class="team-list-items-text">Frontend Developer</p>
          <ul class="icon-list">
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-items">
        <img
          srcset="
            ./images/camila_garcia_1x.jpg 1x,
            ./images/camila_garcia.jpg    2x
          "
          class="team-list-items-img"
          src="./images/camila_garcia.jpg"
          alt="Portrait of Camila Garcia"
          width="264"
          height="260"
        />
        <div class="team-list-items-pair-text">
          <h3 class="team-list-items-title">Camila Garcia</h3>
          <p class="team-list-items-text">Marketing</p>
          <ul class="icon-list">
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-items">
        <img
          srcset="
            ./images/daniel_wilson_1x.jpg 1x,
            ./images/daniel_wilson.jpg    2x
          "
          class="team-list-items-img"
          src="./images/daniel_wilson.jpg"
          alt="Portrait of Daniel Wilson"
          width="264"
          height="260"
        />
        <div class="team-list-items-pair-text">
          <h3 class="team-list-items-title">Daniel Wilson</h3>
          <p class="team-list-items-text">UI Designer</p>
          <ul class="icon-list">
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-round">
              <a class="icon-round-link" href="" target="_blank">
                <svg class="social-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
