.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;

  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-set {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.input-set-textarea {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border-color: transparent;
  border: transparent;
}

.modal-text {
  margin-bottom: 16px;
  text-align: center;
}

.modal-icons {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-icons,
.modal-close-btn:focus .modal-icons {
  fill: white;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.recall-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
  outline: transparent;
}

.recall-input.icon {
  padding-left: 38px;
}

.recall-input.text {
  padding: 8px 16px;
  height: 120px;
  max-width: 100%;
  resize: none;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.recall-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.recall-input:hover,
.recall-input:focus {
  border-color: #4d5ae5;
}

.icons-and-input {
  display: flex;
  align-items: center;
  position: relative;
}

.icons-and-input:hover .recall-icons,
.icons-and-input:focus-within .recall-icons {
  fill: #4d5ae5;
}
.icons-and-input:focus-visible {
  fill: #4d5ae5;
  outline: none;
}

.recall-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recall-icons:hover {
  fill: #4d5ae5;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.privacy-policy {
  display: flex;
  margin-bottom: 24px;
}

.privacy-check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
}

.privacy-check {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.privacy-check-hidden:checked + .privacy-check-label .privacy-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.vector {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
  .modal-text {
    text-align: left;
  }
}
