.footer {
  background: #2e2f42;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 96px;
  padding-top: 96px;
  gap: 72px;
  justify-content: center;
}
.footer-logo-span {
  color: #f4f4fd;
}

.footer .container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-discr {
  text-align: center;
}

.footer-text {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-icons-text,
.footer-subscribe-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icons .social-icon {
  width: 24px;
  height: 24px;
}

.footer-icons .icon-list {
  gap: 16px;
}

.footer .icon-round-link:hover,
.footer .icon-round-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe,
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
}

.footer-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  outline: none;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-label {
  top: 8px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
}
.footer-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-form {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid #31d0aa;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 528px;
  }
  .footer-discr {
    text-align: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-icons-text,
  .footer-subscribe-text {
    text-align: left;
  }

  .footer-subscribe {
  }
  .footer-subscribe-form {
    flex-direction: row;
  }
  .footer-subscribe {
    margin-right: auto;
    width: 453px;
    height: 80px;
  }

  .footer-input {
    width: 264px;
  }
  .footer-subscribe-form {
    gap: 24px;
  }

  .footer-subscribe-button {
    min-width: 165px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    padding: 100px 15px;
    flex-wrap: nowrap;
    max-width: 1158px;
    gap: 0;
  }
  .footer-discr {
    max-width: 264px;
    margin-right: 120px;
  }
  .footer-icons {
    margin-right: 80px;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}
